Flask==3.0.0
gunicorn==21.2.0
nest-asyncio==1.5.8
aiohttp==3.9.1
beautifulsoup4==4.12.2
brotli==1.1.0
fake-useragent==1.4.0
faker==22.0.0
httpx==0.25.2
requests==2.31.0
urllib3==2.1.0
validators==0.22.0
aiohttp
beautifulsoup4
brotli
fake-useragent
faker
Flask
gunicorn
httpx
nest-asyncio
requests
urllib3
validators
